.footer__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    margin-bottom: 60px;
}

@media (max-width: 620px) {
    .footer__text {
        margin: 0 0 36px;
        font-size: 14px;
        line-height: 17px;
    }
}