.elements__like {
    width: 29px;
    height: 20px;
    margin-top: 5px;
    cursor: pointer;
    fill: transparent;
    stroke: black; 
}

.elements__like:hover {
    stroke: rgba(0, 0, 0, 0.5); 
}

.elements__like:active {
    fill: #000;
}